<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div ng-show="alreadyFavorite" class="alert alert-success fade in">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                Food already added as favorite.
             </div>
             <div ng-show="error" class="alert alert-danger fade in">
                <a class="close" ng-click="error=false" aria-label="close">&times;</a>
                Something went wrong, please try again.
             </div>
            <div class="row top-container">
                <div class="col-md-6">
                    <h4>Search</h4>
                    <form class="form-group">
                        <input class="form-control" type="text" ng-model="food" />
                        <button type="button" class=" col-md-4 pull-right btn btn-primary" ng-click="search()">Search</button>
                    </form>
                </div>
                <div class="col-md-6 favorites">
                    <h4>Favorites</h4>
                    <div class="jumbotron text-center" ng-show="favorites.length === 0">
                        <p>No favorite food yet.</p>
                    </div>
                    <table ng-show="favorites.length > 0" class="table table-striped responstable">
                        <thead class="thead-default">
                            <tr>
                                <th>Food</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr ng-repeat="food in favorites">
                            <td ng-bind="::food.name"></td>
                            <td><a ng-href="/#/report/{{food.ndbno}}"><button class="btn btn-default">Report</button></a></td>
                            <td><button class="btn btn-danger" ng-click="removeFavorite(food)">Remove</button></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table ng-if="foodResult.length > 0" class="table table-striped responstable">
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Group</th>
                            <th class="text-center">Favorite</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="food in foodResult">
                            <td class="text-center" ng-bind="::food.ndbno"></td>
                            <td class="text-center" ng-bind="::food.name"></td>
                            <td class="text-center" ng-bind="::food.group"></td>
                            <td class="text-center"><input type="checkbox" ng-change="updateFavorites(food)" ng-model="food.favorite"></td>
                            <td class="text-center"><a ng-href="/#/report/{{food.ndbno}}"><button class="btn btn-default">Report</button></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
